@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
/*nav bar*/
.navbar{
    height: 5vh;
    margin-bottom: 3rem;
}
/*section main buttons*/
#MainBtns{
    height: 81vh;
    position:relative;
    margin: auto 0;
    min-height: fit-content;
  
  }
.btn-row{
    display:flex;
    justify-content:center;
    gap: 1rem;
    margin-bottom: 1rem;
}
.main-btns{
    padding:1rem;
    height:20vh;
    width: 40%;
    border: none;
    font-weight: 600;
    font-size: 1.75rem;

    background: linear-gradient(to bottom, #3498db, #2980b9);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;

}
.main-btns:hover {
    background: linear-gradient(to bottom, #064d53, #7853bd); /* Change the gradient on hover */
}

/* Click (active) effect with animation */
.main-btns:active {
    animation: scale 0.3s linear;
}

/* Define the scale animation */
@keyframes scale {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.95); /* You can adjust the scale factor to your preference */
    }
}

/*footer*/

#Page_footer{
    height: 5vh;
    display: flex;
    justify-content: center;
}

/*delete product file*/
#search_product{
    height: 15vh;
    width: 60%;
    margin:auto;
    display: flex;
    justify-content: center;
    background-color: #057d88;
    border-radius:1rem ;
}
.search-title{
    display: flex;
    justify-content: center;
    font-weight: 600;
    color: white;
}
#search-form input{
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    outline: none;
    margin-bottom: 10px;

}
#search-form button{
    width: fit-content;
    height:fit-content;
    padding: 3px;
    background: linear-gradient(to bottom, #3498db, #2980b9);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}