body {
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    margin: 20% auto;
    max-width: 600px;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1.2em;
}

#countdown {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

#countdown div {
    text-align: center;
    font-size: 2em;
    padding: 10px;
    background-color: #444;
    border-radius: 10px;
    width: 100px;
}

#countdown span {
    font-weight: bold;
}
